.App {
  text-align: center;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
  url('../assets/bg.jpg');
  background-color: darkslategrey
}

.portfolio{
  background: white;
  color: black;
  text-align: left;
  font-display: "Google Sans";
  margin-left: 2%
}
.App-link {
  color: #61dafb;
}

